<html>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<div id="app">
    {{message}}
</div>
<div id="app2">
    <span v-bind:title="message">
        wait
    </span>
</div>
<div id="app3">
    <p v-if="seen">you see me</p>
</div>
<div id="app4">
    <ol>
        <li v-for="todo in todos">
            {{todo.text}}
        </li>
    </ol>
</div>
<div id="app5">
    <p>{{message}}</p>
    <button v-on:click="reverseMessage">reverse</button>
</div>

<div id="app6">
    <p>{{message}}</p>
    <input v-model="message">
</div>

<div id="app7">
    <ol>
        <todo-item v-for='item in grocerylist' v-bind:todo='item' v-bind:key='item.id'></todo-item>
    </ol>
</div>






<script>
    var app = new Vue({
        el: '#app',
        data: {
            message: 'hello vue！'
        }
    })

    var app2 = new Vue({
        el: '#app2',
        data: {
            message: '页面加载于' + new Date().toLocaleString()
        }
    })

    var app3 = new Vue({
        el: "#app3",
        data: {
            seen: false
        }
    })

    var app4 = new Vue({
        el: "#app4",
        data: {
            todos: [{
                    text: 'learn JS'
                },
                {
                    text: 'learn vue'
                },
                {
                    text: 'a nb progrtam'
                }
            ]
        }
    })

    var app5 = new Vue({
        el: "#app5",
        data: {

            message: 'hello vue.js'
        },
        methods: {
            reverseMessage: function () {
                this.message = this.message.split('').reverse().join('')
            }
        }
    })

    var app6 = new Vue({
        el: "#app6",
        data: {
            message: "hello"
        }
    })


    Vue.component('todo-item', {
        props: ['todo'],
        template: '<li>{{ todo.text }}</li>'
    })


    var app7 = new Vue({
        el: "#app7",
        data: {
            grocerylist: [{
                    id: 0,
                    text: 'shucai'
                },
                {
                    id: 1,
                    text: 'nailao'
                },
                {
                    id: 2,
                    text: 'huotui'
                }
            ]
        }
    })
</script>

</html>